@model CoreBusiness.Product

@if (Model != null)
{
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly/>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="text" asp-for="Price" class="form-control" readonly value="@(string.Format("{0:c}",Model.Price))"/>
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
}
