@model SalesViewModel;

@section title{
    <div class="row">
        <div class="col-7"><h3>Cashier's Console'</h3></div>
        <div class="col-2"><label for="cashier">Cashier Name:</label></div>
        <div class="col-3">
            <span>Cashier's name here</span>
        </div>
    </div>
}

<br />
<div class="row">
    <div class="col-4">
        @*Category selection*@
        <select class="form-control" asp-for="SelectedCategoryId">
            <option>-Please Select-</option>
            @if(Model.Categories !=  null && Model.Categories.Count() > 0)
            {
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.CategoryId">@cat.Name</option>
                }
            }
        </select>

        <br />
        <div id="productsPartial">
            @*Product's list*@
        </div>

        <br />
        <div id="productDetailsPartial">
            @*Product's details*@
        </div>
        @*Sales Form *@
        <form method="post" asp-controller="sales" asp-action="sell" id="formSale">
            <input asp-for="SelectedProductId" type="hidden" />
            <div class="form-group">
                <label asp-for="QuantityToSell"></label>
                <input class="form-control"  asp-for="QuantityToSell" type="number" min="1"/>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
    </div>
    <div class="col">
        @*List of transactions*@
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            //Initialize the form
            $("#formSale").hide();
            $("#QuantityToSell").val("");


            //Load products if category is selected
            var selectedCategoryId = $("#SelectedCategoryId").val();
            if (selectedCategoryId > 0) {
                loadProducts(selectedCategoryId);
            }


            //Handle category selection
            $("#SelectedCategoryId").on("change", function () {
                loadProducts($(this).val())
            });

            //Handle product selection
            $("#productsPartial").on("click", ".product-row", function () {
                // Hightlit the row selected
                $(".product-row").removeClass('highlight-color');
                $(this).addClass('highlight-color');
                
                // Hide form when new category is selected
                $("#formSale").hide();


                //var value = $("tr.product-row.highlight-color").attr("product-id");
                var productId = $(this).attr("product-id");
                console.log(productId);

                // Load prodyct details in a partial view
                // $("#productDetailsPartial").load("/products/ProductDetailsPartial", { productId: productId });
                $("#productDetailsPartial").load("/sales/SellProductPartial", { productId: productId });

                if (productId > 0) {
                    $("#SelectedProductId").val(productId);
                    $("#formSale").show();
                } else {
                    $("#SelectedProductId").val("");
                    $("#formSale").hide();
                }
            });
        });

        function loadProducts(id) {
            $("#productsPartial").load("/products/ProductByCategoryPartial", { categoryId: id });
            $("#productDetailsPartial").html("");
            $("#formSale").hide();
        }
    </script>
}